/* 1. Selecciona todos los elementos */
* {
  border: 1px solid black;
}

/* 2. Selecciona todos los elementos que sean de tipo P */
p {
  color: red;
}

/* 3. Selecciona el elemento con ID title-1 */
#title-1 {
  font-weight: bold;
}

/* 4. Selecciona los elementos que pertenezcan a la clase .bg-yellow */
.bg-yellow {
  background-color: yellow;
}

/* 5. Selecciona todos los elementos que tengan el atributo ID */
[id] {
  padding: 5px;
}

/* 6. Selecciona todos los elementos que tengan el atributo ID y como valor title-1 */
[id="title-1"] {
  color: blue;
}

/* 7. Selecciona todos los elementos que tengan el atributo HREF con un valor https://www.yahoo.com */
[href="https://www.yahoo.com"] {
  text-decoration: underline;
}

/* 8. Selecciona todos los elementos que tengan el atributo class con un valor que empiece por title */
[class^="title"] {
  font-style: italic;
}

/* 9. Selecciona todos los elementos que tengan el atributo HREF y que acaben en .com */
[href$=".com"] {
  font-size: 1.2em;
}

/* 10. Selecciona todos los elementos que tengan el atributo class con un valor title-1, title-2... */
[class~="title-2"] {
  background-color: lightgray;
}

/* 11. Selecciona todos los elementos que tengan un atributo href y cuyo valor contenga 127 */
[href*="127"] {
  color: green;
}

/* 12. Selecciona todos los elementos que tengan el atributo href y cuyo valor empiece por http */
[href^="http"] {
  font-family: Arial, sans-serif;
}

/* 13. Selecciona los elementos que sean A, P, o H1 desde una única regla CSS */
a, p, h1 {
  color: blue;
}

/* 14. Selecciona todos los elementos que pertenezcan a main y que sean P */
main p {
  background-color: lightblue;
}

/* 15. Selecciona el siguiente elemento que sea hermano de H1 */
h1 + * {
  border: 2px solid red;
}

/* 16. Selecciona todos los elementos que sean hermanos de H1 */
h1 ~ * {
  border: 2px dotted green;
}

/* 17. Selecciona todos los elementos hijos directos de main */
main > * {
  padding: 10px;
}
