html,
body {
    margin: 0;
    cursor: crosshair;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%
        )
        0 0/100% 200%;
    animation: a 2s linear infinite;
}

@keyframes a {
    to {
        background-position: 0 -200%;
    }
}

[class$="inner"] {
    border: 1px solid black;
}

.target {
    display: grid;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    animation: rotacion 2s linear infinite;
    -webkit-animation: rotacion 2s linear infinite;
}

.white-outer {
    background-color: white;
    grid-column: 1 / 21;
    grid-row: 1 / 21;
}

.white-inner {
    grid-column: 2 / 20;
    grid-row: 2 / 20;
}

.black-outer {
    background-color: black;
    grid-column: 3 / 19;
    grid-row: 3 / 19;
}

.black-inner {
    grid-column: 4 / 18;
    grid-row: 4 / 18;
    border: 1px solid white;
}

.blue-outer {
    background-color: #20ace6;
    grid-column: 5 / 17;
    grid-row: 5 / 17;
}

.blue-inner {
    grid-column: 6 / 16;
    grid-row: 6 / 16;
}

.red-outer {
    background-color: #fa1e1e;
    grid-column: 7 / 15;
    grid-row: 7 / 15;
}

.red-inner {
    grid-column: 8 / 14;
    grid-row: 8 / 14;
}

.gold-outer {
    background-color: #fafa48;
    grid-column: 9 / 13;
    grid-row: 9 / 13;
    border: 1px solid black;
}

.gold-inner {
    grid-column: 10 / 12;
    grid-row: 10 / 12;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

div {
    border-radius: 50%;
}

.cross {
    background-color: black;
    height: 10px;
    position: relative;
    width: 2px;
    border-radius: 0;
}

.cross:after {
    background-color: black;
    content: "";
    height: 2px;
    left: -4px;
    position: absolute;
    top: 4px;
    width: 10px;
}


@keyframes rotacion {
    0%{
       transform: rotate(0deg);
      }
   100%{
       transform: rotate(360deg);
      }
   }
   