html,
body {
  height: 100%;
  margin: 0;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contenido {
  width: 400px;
  padding: 30px;
  border-top: 10px dotted green;
  border-right: 10px dashed blue;
  border-bottom: 10px solid red;
  border-left: 10px double black;
}
